<header>
  <div class="card header">
    <h1>Image Board</h1>
    <h3>CS290, Fall 2018</h3>
  </div>
  <button class="card header" type="button" id="post-button" onclick="location.href='submit'">New post</button>
</header>
