<!-- © Gabriel Kulp, 2018 -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <title>Image Board - Gabriel Kulp</title>
    <script type="text/javascript" src="/index.js" charset="utf-8" defer></script>
  </head>
  <body>

    {{{body}}}

    <footer>
      <p>&copy; <a href="https://github.com/gabrielkulp">Gabriel Kulp</a>, 2018</p>
    </footer>
  </body>
</html>
