{{> header-404}}

<div id="posts">

  <div class="card post">
    <div class="post-title">
      <h2>404 Page Not Found</h2>
    </div>
    <div class="post-body">
      <p>That page doesn't exist!</p>
    </div>
  </div>

</div>
