{{> header-submit}}

<div class="card">
	<form action="/post/add" method="POST" enctype="multipart/form-data">
	  <div class="submit-body">
      <h2>Create New Post</h2>
      <p class="submit-instructions">Enter a title, author, and message. Upload an image with the upload button if you would like.</p>
      <div class="submit-text">
        <input required type="file" id="post-file" name="image"/>
        <input required type="text" id="post-title" name="title" placeholder="Post title"/>
        <input required type="text" id="post-author" name="author" placeholder="Author name"/>
        <textarea required id="post-content" name="content" placeholder="Post content"></textarea>
      </div>
    </div>
    <div class="submit-footer">
      <button type="button" class="submit-button" id="cancel-button" onclick="location.href='/'">Cancel</button>
      <button type="submit" class="submit-button" id="submit-button">Submit</button>
    </div>
  </form>
</div>
