{{> header-submit}}

<div class="card">
	<div class="submit-body">
    <div class="submit-instructions">
      <p>Enter a title, author, and message. Upload an image with the upload button if you would like.</p>
    </div>
    <div class="submit-text">
      <input type="text" id="post-title"/>
      <input type="text" id="post-author"/>
      <textarea id="post-content" ></textarea>
    </div>
  </div>
  <div class="submit-footer">
    <button type="button" class="submit-button" id="cancel-button" onclick="location.href='/'">Cancel</button>
    <button type="button" class="submit-button" id="submit-button" onclick="submitPost();">Submit</button>
  </div>
</div>
